<section
  #scrollSection
  class="bg-secondary select-none h-screen w-full flex items-center overflow-x-hidden md:px-10 px-5"
>
  <div
    #cardsTrack
    class="flex flex-nowrap gap-20"
  >
    @for (car of carsService.cars(); track car.id) {
      <article class="md:w-112.5 w-84 shrink-0 p-5">
        <div class="relative md:h-80 h-48 w-full pointer-events-none">
          <img
            [ngSrc]="car.imageUrl"
            alt="image"
            fill
            class="w-full h-full object-contain"
          />
        </div>

        <div class="space-y-0.5">
          <h2 class="md:text-2xl text-xl font-semibold">{{ car.mark }}</h2>
          <p class="md:text-lg text-[17px] font-semibold">{{ car.model }}</p>
          <p class="font-bold md:text-lg text-[17px] text-primary">
            {{ car.price | currency: 'USD' }}
          </p>

          <app-button
            classNames="mt-3"
            (onClick)="navigateToDetails(car.id)"
          >
            View details
          </app-button>
        </div>
      </article>
    }
  </div>
</section>
