<nav class="h-18 bg-secondary w-full top-0 left-0 z-50">
  <div class="container h-full w-full mx-auto flex items-center justify-between">
    <div
      #navItem
      routerLink="/"
      class="size-12.5 relative cursor-pointer"
    >
      <img
        ngSrc="/logo.svg"
        alt="logo"
        fill
        class="w-full h-full object-contain aspect-square"
      />
    </div>

    <div class="flex items-center gap-5">
      <div class="flex items-center gap-3">
        <a
          #navItem
          routerLink="/"
          routerLinkActive="text-primary"
          [routerLinkActiveOptions]="{ exact: true }"
          class="font-medium text-foreground"
        >
          Home
        </a>
        <a
          #navItem
          routerLink="/cars"
          routerLinkActive="text-primary"
          class="font-medium text-foreground"
        >
          Cars
        </a>
        <a
          #navItem
          routerLink="/about"
          routerLinkActive="text-primary"
          class="font-medium text-foreground"
        >
          About
        </a>
      </div>

      <app-button (onClick)="router.navigate(['/auth'])">Authorize</app-button>
    </div>
  </div>
</nav>
